<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaxin.sms.dao.PlatformSmsInfoMapper">
  <resultMap id="BaseResultMap" type="com.jiaxin.sms.model.PlatformSmsInfo">
    <id column="sms_info_id" jdbcType="BIGINT" property="smsInfoId" />
    <result column="sms_id" jdbcType="VARCHAR" property="smsId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="verify_code" jdbcType="VARCHAR" property="verifyCode" />
    <result column="expire_time" jdbcType="INTEGER" property="expireTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="sms_content" jdbcType="VARCHAR" property="smsContent" />
    <result column="sms_sign" jdbcType="VARCHAR" property="smsSign" />
    <result column="sms_type" jdbcType="CHAR" property="smsType" />
    <result column="sms_code" jdbcType="VARCHAR" property="smsCode" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="report_desc" jdbcType="VARCHAR" property="reportDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    sms_info_id, sms_id, mobile, verify_code, expire_time, update_time, sys_code, sms_content, 
    sms_sign, sms_type, sms_code, state, report_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from platform_sms_info
    where sms_info_id = #{smsInfoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from platform_sms_info
    where sms_info_id = #{smsInfoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jiaxin.sms.model.PlatformSmsInfo">
    insert into platform_sms_info (sms_info_id, sms_id, mobile, 
      verify_code, expire_time, update_time, 
      sys_code, sms_content, sms_sign, 
      sms_type, sms_code, state, 
      report_desc)
    values (#{smsInfoId,jdbcType=BIGINT}, #{smsId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{verifyCode,jdbcType=VARCHAR}, #{expireTime,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{sysCode,jdbcType=VARCHAR}, #{smsContent,jdbcType=VARCHAR}, #{smsSign,jdbcType=VARCHAR}, 
      #{smsType,jdbcType=CHAR}, #{smsCode,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{reportDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaxin.sms.model.PlatformSmsInfo">
    insert into platform_sms_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="smsInfoId != null">
        sms_info_id,
      </if>
      <if test="smsId != null">
        sms_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="verifyCode != null">
        verify_code,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="smsContent != null">
        sms_content,
      </if>
      <if test="smsSign != null">
        sms_sign,
      </if>
      <if test="smsType != null">
        sms_type,
      </if>
      <if test="smsCode != null">
        sms_code,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="reportDesc != null">
        report_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="smsInfoId != null">
        #{smsInfoId,jdbcType=BIGINT},
      </if>
      <if test="smsId != null">
        #{smsId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null">
        #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="smsSign != null">
        #{smsSign,jdbcType=VARCHAR},
      </if>
      <if test="smsType != null">
        #{smsType,jdbcType=CHAR},
      </if>
      <if test="smsCode != null">
        #{smsCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="reportDesc != null">
        #{reportDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaxin.sms.model.PlatformSmsInfo">
    update platform_sms_info
    <set>
      <if test="smsId != null">
        sms_id = #{smsId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null">
        verify_code = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        sms_content = #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="smsSign != null">
        sms_sign = #{smsSign,jdbcType=VARCHAR},
      </if>
      <if test="smsType != null">
        sms_type = #{smsType,jdbcType=CHAR},
      </if>
      <if test="smsCode != null">
        sms_code = #{smsCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="reportDesc != null">
        report_desc = #{reportDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where sms_info_id = #{smsInfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaxin.sms.model.PlatformSmsInfo">
    update platform_sms_info
    set sms_id = #{smsId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      verify_code = #{verifyCode,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      sms_content = #{smsContent,jdbcType=VARCHAR},
      sms_sign = #{smsSign,jdbcType=VARCHAR},
      sms_type = #{smsType,jdbcType=CHAR},
      sms_code = #{smsCode,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      report_desc = #{reportDesc,jdbcType=VARCHAR}
    where sms_info_id = #{smsInfoId,jdbcType=BIGINT}
  </update>
</mapper>